<ion-header >
  <ion-toolbar color="dark">
    <ion-title>
      SkinCare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="mc">

  <ion-searchbar placeholder="buscar..."></ion-searchbar>

  <ion-grid class="ion-text-center ion-no ion-no-padding" >

    <ion-row  class="ion-no-padding">

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://d531mnmtf91fa.cloudfront.net/Custom/Content/Products/10/06/1006071_sabonete-facial-argila-rosa-ruby-rose-7812_m1_637170090122188606.jpg" alt="Sabonete facial">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Sabonete Facial
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">100ml</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>17,90</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://inovarcosmeticos.fbitsstatic.net/img/p/creme-esfoliante-facial-limpeza-da-pele-50g-72913/259401.jpg?w=600&h=600&v=no-change" alt="esfoliante facial">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
             Creme Esfoliante 
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">50g</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>8,90</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://d358a814b78lcf.cloudfront.net/Custom/Content/Products/10/01/1001881_tonico-facial-peles-oleosas-hb-330-ruby-rose-4856_m1_636802125923457150.jpg" alt="Tônico facial">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Tônico Facial
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">150ml</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>16,90</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      
      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://www.revendadecosmeticos.com.br/media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/s/_/s_rum-facial-phalle-beauty-2.jpg" alt="sérum">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Sérum Facial
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">30ml</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>15,99</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://d358a814b78lcf.cloudfront.net/Custom/Content/Products/10/06/1006673_mascara-facial-preta-face-beautiful-8223_m1_637237516517551128.jpg" alt="mascara de preta de titrar cravos">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Mácara Preta
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">60ml</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>10,00</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://assets.bemmulhermaquiagem.com.br/2021/02/04143345/verde-600x600.jpg" alt="argila verde">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Argila Verde
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">120g</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>6,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

