<ion-header >
  <ion-toolbar color="dark">
    <ion-title>
      Pincéis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="mc">

  <ion-searchbar placeholder="buscar..."></ion-searchbar>

  <ion-grid class="ion-text-center ion-no ion-no-padding" >

    <ion-row  class="ion-no-padding">

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://d358a814b78lcf.cloudfront.net/Custom/Content/Products/98/71/987193_pincel-para-base-hb-86452-playboy-1436_m1_636802168408900580.jpg" alt="lingua de gato">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              P. Língua de Gato
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">PB</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>12,90</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://d531mnmtf91fa.cloudfront.net/Custom/Content/Products/98/75/987552_pincel-21-flat-para-contorno-vult-1699_m1_636848859521328275.jpg" alt="pincel achatado">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
             Pincel Achatado
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">vult</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>28,90</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://coprobel.vteximg.com.br/arquivos/ids/244583-600-600/pincel-chanfrado-para-blush-rose-gold-ref-1945-ricca-1268270-16498.jpg?v=637521555738000000" alt="pincel de blush">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Pincel Blush
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">Ricca</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>16,90</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      
      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAovY2hN4l3g0TIY3FfNzqCZEbQzjZUlonMw&usqp=CAU" alt="pincel iluminador">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Pincel Iluminador
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">Kiss</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>22,00</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://www.revendadecosmeticos.com.br/media/catalog/product/cache/1/image/600x600/9df78eab33525d08d6e5fb8d27136e95/p/i/pincel-profissional-macrilan-o902.jpg" alt="pincel sombra">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Pincel Sombra
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">macrilan</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>5,25</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col  class="ion-no-padding" >
        <ion-card>
          <img src="https://d531mnmtf91fa.cloudfront.net/Custom/Content/Products/10/03/1003430_kit-com-5-mini-esponjas-gota-para-maquiagem-le-vangee-6060_m1_636911934472329171.jpg" alt="esponjinhas">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Esponjinhas
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-badge color="dark">Meilly's</ion-badge>
            <ion-note slot="end" color="mc">R$ <span>1,50</span></ion-note>
          </ion-item>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
